$brand-primary:         #158CBA !default;
$brand-success:         #28B62C !default;
$brand-info:            #75CAEB !default;
$brand-warning:         #FF851B !default;
$brand-danger:          #FF4136 !default;

$border-size: 4px;