@import "variables";
@import "functions";
@import "mixins";

// Static generation
.col-1 {
	@include column();
	width: calc-column-width(1); // 1-column width
}

.col-3 {
	@include column();
	width: calc-column-width(3); // 3-columns width
}

.col-6 {
	@include column();
	width: calc-column-width(6); // 6-columns width
}

// Dynamic generation :)
@include create-columns($grid-columns);

@include create-margin-classes();